{{/* This file intentionally left blank.
   * Put your custom head template for analytics, etc. into your site's
   * (not the theme's) layouts/partials/head/custom.html
   */}}
   <meta name="description" content="Professional drone services for construction site, agricultural and roofing in Central Illinois. Get detailed results from arieal photos, videos and maps.">
   <meta name="robots" content="index, follow">
   <meta name="keywords" content="drone, consruction, mapping, agriculture, NDVI, roofing, video, photo, orthomosaic crop, plant-health">
   <meta name="author" content="dbgDrones, Inc.">
   <meta property="og:title" content="dbgDrones - Precision from the Sky">
   <meta property="og:description" content="Professional drone services for construction site, agricultural and roofing in Central Illinois. Get detailed results from arieal photos, videos and maps.">
   <meta property="og:url" content="https://dbgdrones.com">


   <script src="{{ "js/demo.js" | relURL }}" defer></script>
   <script src="https://www.google.com/recaptcha/api.js" async defer></script>
 